@page "/counter"
@using Microsoft.Extensions.Configuration
@inject IConfiguration Config
@inject IJSRuntime Jsr

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<div id="reactProgressBar"></div>

<div id="reactHello"></div>

@code {
    private int currentCount = 0;

    @* private async void IncrementCount()
    {
        currentCount++;

        await Jsr.InvokeVoidAsync("FluentUiComponents.RenderProgressBar", currentCount);

        var baseUri = Config.GetValue<string>("PROXY_BASE_URI");
        var endpoint = Config.GetValue<string>("PROXY_ENDPOINT");
        var requestUri = $"{baseUri.TrimEnd('/')}/{endpoint.TrimStart('/')}?count={currentCount}";

        await Jsr.InvokeVoidAsync("FluentUiComponents.GetHello", requestUri);
    } *@

    [Parameter]
    public int IncrementAmount { get; set; } = 1;

    private async void IncrementCount()
    {
        currentCount += IncrementAmount;

        await Jsr.InvokeVoidAsync("FluentUiComponents.RenderProgressBar", currentCount);

        var baseUri = Config.GetValue<string>("PROXY_BASE_URI");
        var endpoint = Config.GetValue<string>("PROXY_ENDPOINT");
        var requestUri = $"{baseUri.TrimEnd('/')}/{endpoint.TrimStart('/')}?count={currentCount}";

        await Jsr.InvokeVoidAsync("FluentUiComponents.GetHello", requestUri);
    }
}
